:root {
  --bg-color: rgb(141, 232, 255);
  --island-bg-color: rgb(233, 227, 114);
  --island-color: rgb(0, 93, 105);
  --island-hr-bg: rgb(244, 240, 160);
}

html {
  background-color: var(--bg-color);
  font-family: Gill Sans,Gill Sans MT,Calibri,Trebuchet MS,sans-serif;
}

.main {
  display: flex;
  min-width: 100%;
}

.island {
  display: flex;
  flex-direction: column;
  max-width: 900px;

  background-color: var(--island-bg-color);
  color: var(--island-color);
  
  border-radius: 15px;
  padding: 10px;
}

  .island hr {
    width: 95%;
    color: transparent;
    background-color: var(--island-hr-bg);
    height: 2px;
  }

  .island .pic-and-infos {
    display: flex;
    flex-direction: row;
  }

    .island .pic-and-infos img {
      border: 2px solid blue;
    }

.centered-island {
  margin-left: auto;
  margin-right: auto;
}

.islands-slider {
  display: flex;
  flex-direction: row;

  width: 100%;
  overflow-x: scroll;
}

  .islands-slider .project {
    flex-direction: column;
    max-width: 500px;
    min-width: 500px;

    margin-left: 5px;
    margin-right: 5px;
  }

    .islands-slider .project .pic-and-name {
      display: flex;
      flex-direction: row;
      gap: 15px;
      
      padding-left: 10px;
    }

      .islands-slider .project .pic-and-name img {
        max-width: 25%;
        border-radius: 15px;
      }
    
      .description {
        margin: 10px;
        margin-top: 5px;
      }