:root {
  --bg-color: white;
  --island-bg-color: rgb(233, 227, 114);
  --island-color: rgb(0, 93, 105);
  --island-hr-bg: rgb(244, 240, 160);
}

html {
  font-family: Gill Sans,Gill Sans MT,Calibri,Trebuchet MS,sans-serif;

}

.main {
  display: flex;
  min-width: 100%;
}

.centered-island {
  display: flex;
  flex-direction: column;

  max-width: 900px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--island-bg-color);
  color: var(--island-color);
  
  border-radius: 15px;
  padding: 10px;
}

  .centered-island hr {
    width: 95%;
    color: transparent;
    background-color: var(--island-hr-bg);
    height: 2px;
  }

  .centered-island .pic-and-infos {
    display: flex;
    flex-direction: row;

  }

    .centered-island .pic-and-infos img {
      border: 2px solid blue;
    }